
.default-color0.chart-area-symbol { -fx-background-color: null, null; } 
.default-color0.chart-series-area-line { -fx-stroke: #0000ff; }
.default-color0.chart-series-area-fill { -fx-fill: #0000ff; }

.axis:bottom {
    -fx-border-color: white transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent white transparent transparent;
}